.foot
{
    position: absolute;
    width: 100%; 
    height: 75x;
    bottom: 0;
}

/* #carouselExampleIndicators
{
    width: 50%;
    margin: auto;
} */

#carouselimg
{
    width: 500px;
    object-position: center;
}

.carousel-item
{
    width: 100px;

}

.dropdown-item
{
    object-position: right;
}

.container
{
    border: 10px;
    border-color: black;
    margin-top: 50px;
    object-position: center;
    background-color: burlywood;
    width: 15%;
}