.foot
{
    position: relative;
    height: 60px;
    clear:both;
    padding-top:20px;
    text-align: center;
}

 #carouselExampleIndicators
{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
} 

.carousel-item
{
    width: 100%;
    position: center;
}

h4,h2,h3,h1,h5
{
    text-align: center;
}

h2
{
    color: darkgray;
}

article
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

p
{
    text-align: center;
}

table 
{
    border: medium solid #000000;
    width: 50%;
    text-align: center;
    margin: auto;
}
td, th 
{
    border: thin solid #6495ed;
    width: 35%;
}

.well
{
    object-position: center;
    width: 50%;
    margin-left: 20%;
    margin-top: 10px;
}

.alert
{
    text-align: center;
}

.container
{
    border: 10px;
    border-color: black;
    margin-top: 50px;
    object-position: center;
    background-color: burlywood;
    width: 15%;
}

.conteneur
{
    /*border-color: black;
    margin-top: 50px;
    object-position: center;*/
    background-color: lightgrey;
    /*width: 15%;*/
}

body
{
    position: center;
}